--- 
layout: yaboi
title: "Home"
permalink: /
---

<main>
  <section class="logo-bg-green">

  </section>
  <section class="sheet-preview logo-bg-blue secondary-bg-color">
    <h2>Latest Sheet Music</h2>
    <div class="grid-3">
      {% for post in site.categories.sheet-music limit: 3%}
        <div class="card">
          <a href="{{ post.url }}" class="">
          {% include lazyload.html %}
          <p class="title">{{ post.title }}</p>
          <p class="composer">{{ post.composer }}</p>
          <p class="difficulty {{ post.difficulty | downcase }}">{{ post.difficulty }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
    <a class="btn btn-info" href="/sheets/">More sheets -></a>
  </section>
  <section class="updates logo-bg-green">
    <h2>Updates</h2>
    <ul class="updates-list">
      {% for post in site.categories.updates limit:3 %}
      <li>{{ post.date | date: "%b %d, %Y"}} - <a href="{{ post.url }}">{{ post.title}}</a></li>
      {% endfor %}
    </ul>
    <a class="btn btn-info" href="/updates/">More updates -></a>
  </section>
</main>

{% include footer.html%}

<!-- Updates Section for news on new sheets or other information -->



