--- 
layout: yaboi
title: "ImAKappa | Sheets"
permalink: /sheets/
---


<!-- Short blurb about sheets -->
<main>
  <h2>Sheets</h2>
  <section class="sheets-info">
    <p>More sheets coming soon!</p>
    <p>All sheets are free and available in pdf format. Some also have links to MuseScore and/or YouTube so you can listen/watch.</p>
    <p class="difficulty-rating-txt"><span>My rating system:</span></p>
    <div class="difficulty-rating">
      <p class="difficulty easy">Easy</p>
      <p class="difficulty medium">Medium</p>
      <p class="difficulty intermediate">Intermediate</p>
      <p class="difficulty hard">Hard</p>
      <p class="difficulty advanced">Advanced</p>
    </div>
  </section>
  <section class="container grid-responsive">
    {% for post in site.categories.sheet-music %}
      <div class="card">
        <a href="{{ post.url }}" class="">
        {% include lazyload.html %}
        <p class="title">{{ post.title }}</p>
        <p class="composer">{{ post.composer }}</p>
        <p class="difficulty {{ post.difficulty | downcase }}">{{ post.difficulty }}</p>
        </a>
      </div>
    {% endfor %}
  </section>
  <section class="sheets-info">
      <p>ImAKappa &copy; 2020</p>
  </section>
</main>