--- 
layout: yaboi
title: "ImAKappa | Sheets"
permalink: /sheets/
---


<!-- Short blurb about sheets -->
<main>
  <h2>Sheets</h2>
  <section class="sheets-info">
    <p>More sheets coming soon!</p>
    <p>All sheets are free and available in pdf format. Some also have links to MuseScore and/or YouTube so you can listen/watch.</p>
    <p class="difficulty-rating-txt"><span>My rating system:</span></p>
    <div class="difficulty-rating">
      <p class="difficulty easy">Easy</p>
      <p class="difficulty medium">Medium</p>
      <p class="difficulty intermediate">Intermediate</p>
      <p class="difficulty hard">Hard</p>
      <p class="difficulty advanced">Advanced</p>
    </div>
  </section>
  <section class="sheets-showcase">
    <div class="grid-responsive">
    {% for post in site.categories.sheet-music %}
      <div class="card">
        <a href="{{ post.url }}" class="">
        {% include lazyload.html %}
        <p class="title">{{ post.title }}</p>
        <p class="composer">{{ post.composer }}</p>
        <p class="difficulty {{ post.difficulty | downcase }}">{{ post.difficulty }}</p>
        </a>
      </div>
    {% endfor %}
    </div>
  </section>
  <section class="rating-system">
    <div class="rating-system-explanation">
      <p class="difficulty easy">Easy</p>
      <p class="rating-explanation">Most intervals smaller than an octave. Very little syncopation. </p>
      <p class="difficulty medium">Medium</p>
      <p class="rating-explanation">Octaves. Requires independent hand coordination. Moderate speeds.</p>
      <p class="difficulty intermediate">Intermediate</p>
      <p class="rating-explanation">Octaves. A couple months to a few years piano experience. Syncopation. Arpeggios.</p>
      <p class="difficulty hard">Hard</p>
      <p class="rating-explanation">Larger-than-Octave intervals. May be quite fast. Hands may jump around a bit. Multiple voices with one hand (requires dynamic control and independent finger control). Larger hands would help too.</p>
      <p class="difficulty advanced">Advanced</p>
      <p class="rating-explanation">Potentially everything listed in Hard + complex passages, hand crossing, may be a longer piece. Chords in quick succession. Several years experience recommended.</p>
    </div>
  </section>
  <section class="sheets-info">
      <p>ImAKappa &copy; 2020</p>
  </section>
</main>