--- 
layout: yaboi
title: "Sheets"
permalink: /sheets/
---


<!-- Short blurb about sheets -->
<main>
  <section class="sheets-info">
    <h2>Sheet Music</h2>
    <p>More Sheets Coming Soon!</p>
    <p>All sheets are free and available in pdf format. Some also have links to MuseScore and/or YouTube so you can listen/watch</p>
    <p class="difficulty-rating-title"><span>My Rating System:</span></p>
    <div class="difficulty-ratings">
      <button class="rating-btn difficulty easy">
        Easy
      </button>
      <button class="rating-btn difficulty medium">
        Medium
        <!-- <p class="rating-explanation">Medium description</p> -->
      </button>
      <button class="rating-btn difficulty intermediate">
        Intermediate
        <!-- <p class="rating-explanation">Intermediate description</p> -->
      </button>
      <button class="rating-btn difficulty hard">
        Hard
        <!-- <p class="rating-explanation">Hard Description</p> -->
      </button>
      <button class="rating-btn difficulty advanced">
        Advanced
        <!-- <p class="rating-explanation">Advanced description</p> -->
      </button>
    </div>
    <div class="flex-container">
      <p class="rating-explanation">Click/tap difficulty ratings for more detail</p>
    </div>
  </section>
  <section class="sheets-showcase">
    <div class="grid-responsive">
    {% for post in site.categories.sheet-music %}
      <div class="card">
        <a href="{{ post.url }}" class="">
        {% include lazyload.html %}
        <p class="title">{{ post.title }}</p>
        <p class="composer">{{ post.composer }}</p>
        <p class="difficulty {{ post.difficulty | downcase }}">{{ post.difficulty }}</p>
        </a>
      </div>
    {% endfor %}
    </div>
  </section>
  <section class="sheets-info">
      <p>ImAKappa &copy; 2020</p>
  </section>
</main>