--- 
layout: yaboi
title: "ImAKappa | Home"
permalink: /
---

<section class="updates">
  <h2>Updates</h2>
  <ul class="update-list">
    {% for post in site.categories.updates limit:3 %}
    <li>{{ post.date }} - <a href="{{ post.url }}">{{ post.title}}</a></li>
    {% endfor %}
  </ul>
  <div class="card">
    <a class="card-link sheets-card" href="/updates/">
      <h3>Click here for more -></h3>
    </a>
  </div>
</section>

<section class="sheet-preview">
  <h2>Sheet Music</h2>
  <p>Latest sheets:</p>
  {% for post in site.categories.sheet-posts limit:3 %}
    <div class="latest-score">
      <a class="sheet-link" href="{{ post.url }}">{{ post.title }}</a>
    </div>
  {% endfor %}
  <div class="card">
    <a class="card-link sheets-card" href="/sheets/">
      <h3>Click here for more -></h3>
    </a>
  </div>
</section>

<!-- Updates Section for news on new sheets or other information -->



