.message404 {
  height: 100vh;
  margin: auto;
  padding: 0;
}

.message404 .container {
  margin-top: 35vh;
}

.message404 h1 {
  font-size: 9rem;
  text-align: center;
}

span.title {
  color: green;
}