<header class="main-header">
  <a class="title" href="/"><h1>ImAKappa</h1></a>
  <div class="switcheroo">
    <input type="checkbox" class="switch-mode">
  </div>
  <button class="drop-btn">
    <div class="hamburger-menu-icon">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </button>
</header>
<!-- Navigation Links -->
<nav class="main-nav">
    <a class="{% if page.url == '/sheets/' %}active{% endif %}" href="/sheets/">Sheets</a><!--
    --><a class="{% if page.url == '/about/' %}active{% endif %}" href="/about/">About</a><!--
    --><a class="btn-muse" href="https://musescore.com/user/28025112" target="_blank">MuseScore</a><!--
    --><a class="btn-yt" href="https://www.youtube.com/channel/UC-ij-Y_86B9H1ARnaxnhEtw" target="_blank">YouTube</a></li>
</nav>
<div class="overlay"></div>
