--- 
---
/* Modular CSS
- Name things for what they are, not how they are supposed to look
- don't use ids for stylistic elements
- .<module>[-<component>][-<state>] {}

*/

:root {
  /* Light Theme*/
  /* Colours */
  --main-bg-color: white;
  --secondary-bg-color: #f4f4f4;
  --main-text-color: black;

  --main-border-color: grey;

  --accent-color-1-bg: rgb(4, 4, 233);
  --accent-color-1-border: rgb(0, 0, 168);
  --accent-color-2-bg: green;
  --accent-color-2-border: rgb(0, 88, 0);
  

  /* Numbers */
  --backimg-size: 47vh;
  --backimg-v-pos: 10em;
}

[data-theme="dark"] {
  /* Dark Theme */
  --main-bg-color: rgb(22, 22, 22);
  --secondary-bg-color: rgb(34, 34, 34);
  --main-border-color: black;
  --main-text-color: white;
}

/* BASE*/
html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: 'Oswald', tahoma, arial, sans-serif;
  line-height: 2em;
  height: 100%;
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

main {
  margin-top: 8em;
}

section {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 48vh;
  padding: 2em 0;
}

h1 {
  font-size: 3.4rem;
  margin: 0.5em;
}

h2 {
  text-align: center;
  font-size: 2.8rem;
  margin: 1em;
}

h3 {
  font-size: 2.2rem;
  margin: 1em;
}

p {
  font-size: 1.6rem;
  margin: 1em;
  text-align: center;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
  transition-duration: 0.4s;
}

li {
  font-size: 1.6rem;
}

/* NAV BAR */
header {
  background: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 3px solid rgb(0, 0, 0);
  background-color: var(--secondary-bg-color);
  flex-direction: column;
  align-items: center;
  border: none;
}

.title {
  color: var(--main-text-color);
}

.title:active {
  color: green;
}

.main-nav {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid var(--main-border-color);
  background-color: var(--main-bg-color);
}

.main-nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  margin: 0.25em;
  border: 3px solid var(--main-border-color);
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
}

.main-nav a:hover {
  border: 3px solid var(--main-text-color);
  background-color: rgb(22, 22, 22);
  color: white;
}

.nav-links {
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: none;
}

.main-nav li {
  display: inline;
  margin: 0;
}

a.active {
  background-color: rgb(20, 20, 20);
  color: #e7bb41;
}



/* BANNER STUFF */

.banner {
  display: flex;
  height: 65vh;
  background-image: url('../images/imakappa-channel-logo-2020.svg');
  background-position: center var(--backimg-v-pos);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: var(--backimg-size);
}

.banner-textbox {
  display: flex;
  border: 5px solid black;
  padding: 2vh 18vw;
  margin: auto auto;
}

.banner-text {
  text-align: center;
  font-size: 3.4rem;
}

/* SHEET PREVIEW SECTION */
.sheet-preview {
  margin: 0;
  background-image: url('../images/blue-imakappa-channel-logo-2020.svg');
  background-position: center var(--backimg-v-pos);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: var(--backimg-size);
  // padding-top: 8em;
  background-color: var(--secondary-bg-color);
}

.latest-score {
  margin: auto;
}

/* UPDATES */
.updates {
  display: flex;
  background-image: url('../images/imakappa-channel-logo-2020.svg');
  background-position: center var(--backimg-v-pos);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: var(--backimg-size);
}

.update-list li {
  margin-bottom: 1em;
}

@media screen and (max-width: 960px) {
  .updates {
    flex-direction: column;
  }

  .site-update {
    text-align: center;
  }
}

/* TURTLE FACTS */
// .turtle-facts {
//   display: flex;
//   flex-direction: column;
//   height: 150px;
//   justify-content: center;
//   text-align: center;
//   background-image: url('../images/blue-imakappa-channel-logo-2020.svg');
//   background-position: center var(--backimg-v-pos);
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-size: var(--backimg-size);
//   padding: 16em 0 16em;
//   background-color: var(--secondary-bg-color);
// }


/* ABOUT */

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/blue-imakappa-channel-logo-2020.svg');
  background-position: center var(--backimg-v-pos);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: var(--backimg-size);
  background-color: var(--secondary-bg-color);
  padding: 10em 0;
}

.about-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/imakappa-channel-logo-2020.svg');
  background-position: center var(--backimg-v-pos);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: var(--backimg-size);
  padding: 10em 0;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 20vh;
  text-align: center;
  padding: 65vh 0 20vh;
  background-image: url('../images/imakappa-channel-logo-2020.svg');
  background-position: center var(--backimg-v-pos);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: var(--backimg-size);
}


/* ---------- */
/* ASSETS */

/* TOGGLES */
.show {display: block;}


/* CONTAINERS */
.narrow-container {
  display: flex;
  border: 5px solid black;
  flex-direction: column;
  transition-duration: 0.4s;
  background-color: rgba(255, 255, 255, 0.2);
  margin: auto;
}

.grid-3 {
  display: grid;
  // width: 80%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  padding: 0;
  margin: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition-duration: 0.4s;
}

// .card:hover {
//   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
//   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
// }


/* BUTTONS */
a.btn {
  font-size: 1.6rem;
  text-align: center;
  border: 3px solid black;
  background-color: grey;
  color: white;
  margin: auto;
  padding: 4px;
}

a.btn-info {
  background-color: var(--accent-color-1-bg);
  border: 3px solid var(--accent-color-1-border);
}

a.btn-info:active {
  background-color: var(--accent-color-1-border);
  border: 3px solid var(--accent-color-1-bg);
}

a.btn-sheet-link {
  border: 3px solid var(--accent-color-2-border);
  background-color: var(--accent-color-2-bg);
}

a.btn-sheet-link:active {
  border: 3px solid var(--accent-color-2-bg);
  background-color: var(--accent-color-2-border);
}

a.btn-yt {
  border: 3px solid rgb(180, 0, 0);
  background-color: rgb(242, 0, 0);
  color: white;
}

a.btn-yt:hover {
  border: 3px solid red;
  background-color: rgb(180, 0, 0);
}

a.btn-muse {
  border: 3px solid rgb(0, 0, 146);
  background-color: blue;
  color: white;
}

a.btn-muse:hover {
  border: 3px solid blue;
  background-color: rgb(0, 0, 146);
}

/* UNIQUE ASSETS */

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.switcheroo {
  display: flex;
  background-color: var(--secondary-bg-color);
  padding: 0;
  position: absolute;
  top: 1.4em;
  right: 2em;
  border: 2px solid var(--main-border-color);
}

.switch-mode {
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

.drop-btn {
  display: flex;
  background-color: var(--secondary-bg-color);
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0.4em;
  left: 1.2em;
  padding: 0;
  border: 2px solid var(--main-border-color);
  transition-duration: 0.4s;
}

.drop-btn:active {
  background-color: var(--main-bg-color);
}

.hamburger-menu-icon {
  flex-direction: column;
  padding: 0.5em;
  align-items: center;

  display: flex;
  pointer-events: none;
}

.hamburger-menu-icon > div {
  width: 35px;
  height: 5px;
  background-color: var(--main-text-color);
  margin: 2px 0;
  pointer-events: none;
}

.hidden-text-light {
  color: var(--secondary-bg-color);
}

.hidden-text-dark {
  color: var(--main-bg-color);
}
