--- 
---

:root {
  /* Light Theme*/
  /* Colours */
  --main-bg-color: white;
  --secondary-bg-color: #f4f4f4;
  --main-text-color: black;
  --main-border-color: grey;
  --accent-color-1-bg: rgb(4, 4, 233);
  --accent-color-1-border: rgb(0, 0, 168);
  --accent-color-2-bg: green;
  --accent-color-2-border: rgb(0, 88, 0);
  --accent-color-3-bg: orange;
  --accent-color-3-border: rgb(206, 134, 0);

  --difficulty-color-bg: rgb(219, 219, 219);
  --difficulty-color-advanced: red;
  --difficulty-color-hard: orange;
  --difficulty-color-intermediate: purple;
  --difficulty-color-medium: blue;
  --difficulty-color-easy: green;

  --rating-txt-line-color: rgb(170, 170, 170);

  --card-shadow-color: rgba(0,0,0,0.4);

  --overlay-shadow-color: rgba(51,51,51,0.7);
  
  /* Numbers */
  --backimg-size: 47vh;
  --backimg-v-pos: 10em;
  --border-radius: 2px;
}

[data-theme="dark"] {
  /* Dark Theme */
  --main-bg-color: rgb(22, 22, 22);
  --secondary-bg-color: rgb(34, 34, 34);
  --main-text-color: white;
  --main-border-color: black;

  --rating-txt-line-color: rgb(44, 44, 44);

  --difficulty-color-bg: rgb(27, 27, 27);

  --card-shadow-color: rgba(255,255,255,0.2);

  --overlay-shadow-color: rgba(17, 17, 17, 0.7);
}

/* BASE*/
@import "0-base/0-base_dir" ;

/* NAV BAR */
@import "1-modules/nav";

/* FOOTER */
@import "1-modules/footer";

/* Index Page sections */
@import "2-layouts/index";

/* Sheets Page sections*/
@import "2-layouts/sheets";

/* Individual Sheet Pages*/
@import "2-layouts/sheets-preview";

/* UPDATES */

/* ABOUT */
@import "2-layouts/about";

/* 404 Page */
@import "2-layouts/404";

/* -------- UTILS -------- */

/* CONTAINERS */
@import "4-utils/boxes";


/* BUTTONS */
@import "4-utils/buttons";

/* CARDS */
@import "4-utils/cards";

.difficulty.advanced {
  border-bottom: 3px solid var(--difficulty-color-advanced);
}

.difficulty.hard {
  border-bottom: 3px solid var(--difficulty-color-hard);
}

.difficulty.intermediate {
  border-bottom: 3px solid var(--difficulty-color-intermediate);
}

.difficulty.medium {
  border-bottom: 3px solid var(--difficulty-color-medium);
}

.difficulty.easy {
  border-bottom: 3px solid var(--difficulty-color-easy);
}

/* COLOUR CLASSES */
@import "4-utils/colour-classes";

/* THEME SWITCHER */
input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.switcheroo {
  display: flex;
  background-color: var(--secondary-bg-color);
  padding: 0;
  position: absolute;
  top: 1.4em;
  right: 2em;
  border: 2px solid var(--main-border-color);
  border-radius: var(--border-radius);
}

.switch-mode {
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

/* NAV DROPDOWN UTILS */
.drop-btn:active {
  background-color: var(--main-bg-color);
}

.drop-btn {
  display: flex;
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  position: absolute;
  top: 0.4em;
  left: 1.2em;
  padding: 0;
  border: 2px solid var(--main-border-color);
  border-radius: var(--border-radius);
  transition-duration: 0.4s;
}

.hamburger-menu-icon {
  flex-direction: column;
  padding: 0.5em;
  align-items: center;
  display: flex;
  pointer-events: none;
}

.hamburger-menu-icon > div {
  width: 35px;
  height: 5px;
  background-color: var(--main-text-color);
  margin: 2px 0;
  pointer-events: none;
  border-radius: var(--border-radius);
}

@media screen and (min-width: 800px) {
  .drop-btn,
  .hamburger-menu-icon,
  .hamburger-menu-icon > div {
    display: none;
  }

  .switcheroo {
    top: 7em;
  }
}



