---
layout: yaboi
---

<a href="/sheets/">Back to Sheets</a>
<div class="card">
  <p><a class="sheet-link" href="/./assets/sheet-pdfs/{{ page.pdf-link }}" target="_blank">{{page.title}} Sheet Music PDF 🡣</a></p>
  {% unless page.pdf-lyric == "#" %}
  <p><a class="sheet-link" href="/./assets/sheet-pdfs/{{ page.pdf-lyric }}" target="_blank">{{page.title}} Sheet Music (+Lyrics) PDF 🡣</a></p>
  {% endunless %}
  {% unless page.yt-link == "#" %}
  <p><a class="yt" href="{{ page.yt-link }}" target="_blank">Watch on YouTube</a></p>
  {% endunless %}
  {% unless page.muse-link == "#" %}
  <p><a class="muse" href="{{ page.muse-link }}" target="_blank">Listen at Musescore</a></p>
  {% endunless %}
</div>