<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
</head>
  <header>
    <a href="/sheets/">Back to Sheets</a>
  </header>
  <body>
    <div class="card">
      <p><a class="pdf-download" href="{{ page.dir }}" target="_blank">{{page.title}} Sheet Music PDF 🡣</a></p>
      <p><a class="yt" href="{{ page.yt-link }}" target="_blank">Watch on YouTube</a></p>
      <p><a class="muse" href="{{ page.muse-link }}" target="_blank">Listen at Musescore</a></p>
    </div>
  </body>
</html>