<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImAKappa | Sheets | {{ page.title }}</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
  </head>
  <body>
    <header>
      <a href="/sheets/">Back to Sheets</a>
    </header>
    <div class="card">
      <p><a class="pdf-download" href="/./assets/sheet-pdfs/{{ page.pdf-link }}" target="_blank">{{page.title}} Sheet Music PDF 🡣</a></p>
      {% unless page.yt-link == "#" %}
      <p><a class="yt" href="{{ page.yt-link }}" target="_blank">Watch on YouTube</a></p>
      {% endunless %}
      
      
      <p><a class="muse" href="{{ page.muse-link }}" target="_blank">Listen at Musescore</a></p>
    </div>
    {{ content }}
    {% include footer.html %}
  </body>
</html>