/* ImAKappa Personal Website CSS Style Sheet */
/* Sheet for main static pages */

/* || GENERAL STYLES */

/* || COLORS

Black: #000000
White: #ffffff
Midnight Blue: #00004d
Prussian Blue: #113655
Yale Blue: #184c77
Honolulu Blue: #1D6EB4
MuseScore Blue: #1f74bd
Platinum: #E3E1DD
Light Platinum: ##E8E6E3
Maize (Crayola): #e7bb41
Youtube Red: #b31217


*/

html {
  font-size: 10px;
}

body {
  font-family: 'Oswald', 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #113655;
  border-bottom: 3px solid #E3E1DD;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

/* NAVIGATION LINKS */
.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}

@media screen and (min-width: 960px) {
  .main-header .container {
    justify-content: space-between;
  }
}

.main-nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-nav li {
  display: inline;
}

.main-nav a {
  display: inline-block;
  background-color: #113655;
  border: none;
  color: #E8E6E3;
  padding: 1em 1.5em;
  /* text-align: center; */
  text-decoration: none;
  font-size: 1.9rem;
  transition-duration: 0.4s;
}

.main-nav a:hover, .main-nav a:focus {
  background-color: #184C77;
  color: #E7BB41;
}

.main-nav a:active {
  color: #000000;
}

h1 {
  font-size: 3.5rem; 
  margin: 0 1.5em;
  padding: 0;
  color: #E8E6E3;
  transition-duration: 0.4s;
}

h1:hover {
  color: #E7BB41;
}

.logo {
  max-width: 80px;
  max-height: auto;
  /* position: absolute; */
  position: fixed;
}

@media screen and (max-width: 760px) {
  .logo {
    display: block;
    max-width: 100px;
    max-height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
  }
}

h2 {
  top: 0;
  text-align: center;
  font-size: 2.5rem;
  margin: 1em 0;
  padding: 0;
  width: 100%;
  /* background-color: #E8E6E3; */
  /* border-bottom: 2px solid #E3E1DD;
  border-top: 2px solid #E3E1DD; */
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4); */
}

h3 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0;
  padding: 0.5em 0;
  background-color: #113655;
  color: #E8E6E3;
  transition-duration: 0.4s;
}

p {
  font-size:  1.7rem;
  margin: 1em;
  padding: 0;
  text-align: center;
}

footer {
  bottom: 0;
  margin: 2em 0 0 0;
  width: 100%;
  color: #E8E6E3;
  background-color: #113655;
  border-top: 3px solid #E3E1DD;
  padding-bottom: 1em;
  
}

/* || Global Utilities --- */

/* Containers */
.container {
  width: 960px;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .container {
    padding: 20px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 0 1.5em;
}

@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* Links */
a.active {
  color: #E7BB41;
}

.yt-vid {
  max-width: 480;
  min-width: 270;
}

a.yt {
  background-color: #b31217;
}

a.yt:hover, a.yt:focus {
  background-color: #b31217;
  color: #E7BB41;
}

a.muse:hover, a.muse:focus {
  background-color: #1f74bd;
}

/* CARD STYLES */
.card {
  display: flex;
  flex-direction: column;
  border-bottom: 4px solid #184C77;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition-duration: 0.4s;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-bottom:4px solid #1D6EB4;
}

.card .sheet-link {
  text-align: center;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0;
  padding: 0.5em;
  color: #E3E1DD;
  border: 3px solid #113655;
  background-color: #113655;
  transition-duration: 0.4s;
}

.card .sheet-link:hover {
  background-color: #184C77;
  color: #E7BB41;
}

.card .sheet-link:focus {
  background-color: #184C77;
  color: #E7BB41;
}

.card-image {
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.yt {
  background-color: #b31217;
  color: #E3E1DD;
  margin: 0;
  padding: 0.5em;
  text-decoration: none;
  transition-duration: 0.4s;
}
