/* ImAKappa Personal Website CSS Style Sheet */

/* || GENERAL STYLES */

/* || COLORS

Black: #000000
White: #ffffff
Dark Grey: #514845
Gray: grey

*/

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  display: inline-flex;
  flex-direction: row;
  background-color: grey;
  border-bottom: 2px solid #514845;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

.imakappa-header-logo {
  max-height: 56px;
}

main {
  
}



h1 {
  font-size: 3.5rem; 
  margin: 0 1.5em;
  padding: 0;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 1em;
  padding: 0;
}

h3 {
  font-size: 2rem;
  margin: 1em;
  padding: 0;
}

p {
  font-size:  1.5rem;
  line-height: 1.6;
  margin: 1.5em;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

footer {
  bottom: 0;
  margin: 0;
  width: 100%;
  color: #ffffff;
  background-color: grey;
  border-top: 2px solid #514845;
  
}

/* || Utilities */

/*      NAVIGATION LINKS */
.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav li {
  list-style-type: none;
  display: inline-block;
}

.main-nav a {
  background-color: grey;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.main-nav a:focus {
  background-color: #514845;
}

.main-nav a:hover {
  background-color: #514845;
}

.main-nav a:active {
  color: #000000;
}

/*      CARD STYLES */
.card {
  
}

.card:hover {

}

.card h2 {
  
}

.yt-vid {

}