/* ImAKappa Personal Website CSS Style Sheet */

/* || GENERAL STYLES */

/* || COLORS

Black: #000000
White: #ffffff
Dark Blue: #00004d
Blue: #1a1aff

*/

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  display: inline-flex;
  flex-direction: row;
  background-color: #1a1aff;
  border-bottom: 3px solid #00004d;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

.imakappa-header-logo {
  max-height: 56px;
}

main {
  margin: 0;
}

h1 {
  font-size: 3.5rem; 
  margin: 0 1.5em;
  padding: 0;
}

h2 {
  position: sticky;
  top: 0;
  text-align: center;
  font-size: 2.5rem;
  margin: 1em 0;
  padding: 0;
  width: 100%;
  background-color: white;
  border-bottom: 3px solid #00004d;
}

h3 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 0.5em 0;
  background-color: #0000ff;
  color: white;
}

p {
  font-size:  1.6rem;
  line-height: 1.6;
  margin: 1.5em;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

footer {
  bottom: 0;
  margin: 0;
  width: 100%;
  color: #ffffff;
  background-color: #1a1aff;
  border-top: 2px solid #00004d;
  
}

/* || Utilities */

/*      NAVIGATION LINKS */
.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav li {
  list-style-type: none;
  display: inline-block;
}

.main-nav a {
  background-color: #1a1aff;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  transition-duration: 0.4s;
}

.main-nav a:focus {
  background-color: #00004d;
}

.main-nav a:hover {
  background-color: #00004d;
}

.main-nav a:active {
  color: #000000;
}

/*    Container */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 2em;
}

/*      CARD STYLES */
.card {
  border: 2px solid #00004d;
  transition-duration: 0.4s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
  
}

.card:hover h3 {
  text-shadow: 2px 2px 5px black;
}

.card h2 {
  
}

.yt-vid {
  max-width: 480;
  min-width: 270;
}